* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}


#sky {
    width: 100%;
    /* height: 20vh; */
    height: 45vh;
    background-color: skyblue;
    /* background: linear-gradient(to bottom, #82addb 0%,#ebb2b1 100%); */
    background-image: url(../img/grassy-horizon.svg);
    background-position-y: bottom;
    background-repeat: repeat-x;
    background-size: 50vh;
}

#sky img {
    height: 20%;
    position: relative;
    top: 10%;
    /* left: 90%; */

    animation: cloud-flies-by 5s linear forwards;
}

#off-road-horizon {
    width: 100%;
    height: 25vh;
    background-color: seagreen;
    background-image: url(../img/grass.png);
}

#road {
    width: 100%;
    height: 55vh;
    background-color: dimgrey;
    border-top: 10px solid grey;
    border-bottom: 10px solid grey;
}

.road-lines {
    border-top: 5px dashed #fff;
    height: 0;
    width: 100%;
    position: relative;
    top: 20%;
}

#mario {
    /* position: absolute; */
    /* position: relative;
    left: 0; */
    /* bottom: 45%; */
    /* top: -10%; */

    /* transform: translateX(93vw);
    transition: ease-in 3s; */

    animation-name: race-animation;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.39,1.31,1,-0.44);
    /* animation-iteration-count: 3; */
}


#luigi {
    position: relative;
    top: 10%;
    
    animation-name: race-animation;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.27,.99,1,.15);
}


@keyframes race-animation {
    0% {
        /* transform: translateX(0); */
        transform: translateX(-10vw);
    }

    50% {
        /* transform: translateY(5vh); */
    }

    100% {
        /* transform: translateX(93vw); */
        transform: translateX(103vw);
    }
}


@keyframes cloud-flies-by {
    from {
        /* transform: translateX(70vw); */
        transform: translateX(100vw);
    }

    to {
        /* transform: translateX(20vw); */
        transform: translateX(-10vw);
    }
}