*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

    /* Scrollt weicher bei Benutzung der Navigation */
    scroll-behavior: smooth;
}

h1 {
    font-size: 5rem;
}

h1::before {
    font-family: "FontAwesome";
    content: "\f121";
}

h1::after {
    font-family: "FontAwesome";
    content: "\e490";
}

h2 {
    font-size: 3rem;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 2.5rem;
    margin-bottom: 0.5em;
}

body {
    font-size: 1.6rem;
}

header {
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    position: sticky;
    top: 0;
    left: 0;

    /* Header soll immer ueber allem schweben */
    z-index: 99;
}

nav {
    height: fit-content;
    width: 30%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav ul a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 1em;
    background-color: blueviolet;
}


main {
    width: 90%;
    margin: 0 auto;
}

#about-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#about-section h2 {
    width: 100%;
}

#about-section article {
    width: 45%;
}

#about-section article:first-of-type img {
    width: 50%;
    float: right;
    margin-left: 1em;
}

#about-section article:last-of-type img {
    width: 65%;
    float: left;
    margin-right: 1em;
}

/* Grid mit 3 Spalten und 3 Zeilen */
.products-thumbnail-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1em;

    /* 
        Legt Distanz zwischen Tiefenebene (z=0) und Betrachter fest. 
        So erscheinen Rotationen realistischer.
    */
    perspective: 1500px;
}

.products-thumbnail-grid > div {
    background-color: blue;
    height: 250px;
    width: 100%;

    transition: all 1s linear;
}

/* Erstes Div wird ueber zwei Spalten gezogen */
.products-thumbnail-grid > div:first-of-type {
    grid-column: 1 / 3;
    grid-row: 1;
}

/* Zweites Div wird ueber zwei Zeilen gezogen */
.products-thumbnail-grid > div:nth-of-type(2) {
    grid-row: 1 / 3;
    height: 100%;
}

/* Sechste Div wird ueber zwei Spalten gezogen */
.products-thumbnail-grid > div:nth-of-type(6) {
    grid-column: 2 / 4;
    height: 100%;
}


.products-thumbnail-grid > div:hover {
    /* background-color: brown; */
    transform: rotateY(180deg);
}



#products-section table {
    width: 70%;
    margin: 0 auto;
    border: 0.2em solid black;
    border-collapse: collapse;
    caption-side: top;
}

#products-section table tr:nth-of-type(even) {
    background-color: lightgray;
}

#products-section table td {
    padding: 1em;
}

#products-section table caption {
    font-size: 2em;
}

/* Hintergrundbild fuer Kontakt Sektion */
#contact-section {
    background-image: url(../img/contact.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#contact-section form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 20%;
    margin: 0 auto;
}

#contact-section form > input, #contact-section form > textarea {
    margin-bottom: 2em;
}


#consent-fieldset {
    display: flex;
    justify-content: space-between;
    border: 0;
    margin-bottom: 2em;
}

footer {
    height: 10vh;
    background-color: cornflowerblue;
}


/* MEDIA QUERIES */
/* Small Desktops */
@media screen and (max-width: 1200px) {
    h1 {
        font-size: 4rem;
    }

    header {
        flex-direction: column;
    }

    header nav {
        width: 60%;
    }
}

/* Tablet */
@media screen and (max-width: 768px) {
    header nav {
        width: 80%;
    }

    #about-section {
        flex-direction: column;
    }

    #about-section article {
        width: 100%;
    }

    .products-thumbnail-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: .5em;
    }


    .products-thumbnail-grid > div:first-of-type {
        grid-column: auto;
        grid-row: 1;
    }
    
    
    .products-thumbnail-grid > div:nth-of-type(2) {
        grid-row: auto;
    }
    
    .products-thumbnail-grid > div:nth-of-type(6) {
        grid-column: auto;
    }

    #contact-section form {
        width: 50%;
    }
}

/* Smartphone */
@media screen and (max-width: 480px) {
    body {
        font-size: 2rem;
    }

    p {
        text-align: justify;
    }

    header nav {
        width: 100%;
    }

    #about-section article:nth-of-type(n) img {
        width: 100%;
        float: none;
        margin: 0;
    }

    .products-thumbnail-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        gap: .5em;
    }


    #contact-section form {
        width: 100%;
    }
}