

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    background-color: crimson;
    font-size: 18pt;

    display: flex;
    justify-content: center;
    align-items: center;

    /* background-image: url(/images/three-trees.webp);
    background-attachment: fixed;
    background-size: cover; */
}

body {
    display: grid;

    /* grid-template-columns: repeat(12, minmax(200px, 1fr)); */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));

    /* justify-items: center;
    align-items: center; */
    
    gap: 1em;

    height: 100vh;
}

.large {
    grid-area: span 2 / span 2;
}


@media screen and (max-width: 480px) {
    .large {
        grid-area: span 1 / span 1;
    }
}