

* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

html {
    width: 90vw;
    height: 100vh;
    
    margin: 0 auto;
    /* width: 100%; */
}


main {
    font-size: 0;
    /* margin: 0 auto;
    width: 80%;
    background-color: grey; */
}

article {
    display: inline-block;
    width: 70%;
    height: 100vh;
    background-color: lightblue;
    overflow: auto;
    font-size: 12pt;
}

aside {
    display: inline-block;
    width: 15%;
    height: 100vh;
    background-color: lightskyblue;
    font-size: 12pt;
    overflow: auto;
}

ul li {
    margin: 0;
    list-style: none;
    text-align: center;
}

span {
    display: block;
    color: red;
    border: 2px dotted orange;
    padding-left: 2px;
    padding-right: 2px;
}

.menu-item {
    margin-bottom: 1em;
    border: 2px solid black;
}

.box {
    display: inline-block;
    width: 200px;
    height: 200px;
    border: solid 5px coral;
    margin: 10px auto;
    padding: 10px;
    overflow: auto;

    box-shadow: 5px -10px 5px grey;
}

#section-1 {
    background-color: darkkhaki;
    margin-left: 0;
}


#section-2 {
    background-color: darkviolet;
    color: white;
}

#section-3 {
    /* display: block; */
    background-color: navy;
    color: white;
}
