/* Kleines CSS Reset */
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 5vh;

    background-color: darkolivegreen;
}

header .header-content {
    width: 80%;
    height: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
}

header .header-content a {
    color: white;
    text-decoration: none;
}

.header-content nav {
    width: 20%;
}

.header-content nav ul {
    list-style: none;
    display: flex;

    justify-content: space-between;
}

.header-content ul li.sublist {
    width: 20%;
}

.header-content ul li > ul {
    display: flex;
    justify-content: space-between;
}
